<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{thymeleaf/layouts/user_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
//나의 정보조회
function myInfo(){
	
	$.ajax({
		url:"/user/allmyinfo",
//			url:"https://testapi.openbanking.or.kr/v2.0/user/me",
//			headers:{"Authorization":"Bearer  eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiIxMTAxMDEzMzQ4Iiwic2NvcGUiOlsiaW5xdWlyeSIsImxvZ2luIiwidHJhbnNmZXIiXSwiaXNzIjoiaHR0cHM6Ly93d3cub3BlbmJhbmtpbmcub3Iua3IiLCJleHAiOjE2OTI2OTQ3NTgsImp0aSI6IjhhYWIyODNkLTljYjEtNGNkNS1iN2FmLTAzZTA5ZDBkNDRlYSJ9.BefjiG6pniEbFzcQmfr9vyhdBeR7ctY6i-OxATg5Jh4"},
//			data:{'user_seq_no':'1101013348'},
		method:'get',
		dataType:'json',
		success:function(data){
//				console.log(data['res_list'].length);
			
			var res_list=data['res_list'];
			console.log(res_list);
			$("#list").empty();//화면 초기화
			
//				급여계좌
//     		83764585969076959 [국민은행]
			for(var i=0;i<res_list.length;i++){
				$("#list").append(
					'<div class="box container">'+
            		'	<div>'+
            		'		<h1>'+res_list[i]['account_alias']+'</h1>'+
            		'		<p>'+res_list[i]['fintech_use_num']+' ['+res_list[i]['bank_name']+']</p>'+
            		'	</div>'+
            		'	<div class="sub_menu">'+
            		'		<a onclick="balance(\''+res_list[i]['fintech_use_num']+'\',this)" class="balance">잔액조회</a> | '+
            		'		<a>QR생성</a>'+
            		'	</div>'+
            		'	<div class="balance_amt"></div>'+
            		'</div>'	
				)                         
			}                      
		},
		error:function(){
			location.reload();//페이지 새로고침
//				alert("통신실패");
		}
	})
}

</script>
<style type="text/css">

	input[type="button"]{
		text-align:center;
	  	
	  	
		
		margin-top:10px;
		margin-bottom:10px;
	}
	
</style>
</head>


<body>
<div layout:fragment="content">
<h1>소비패턴분석</h1>
<!-- <p th:text="${session.dto.name}+'님'"></p> -->

 <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-6">
                    <p>소비패턴이 궁금하지 않으신가요?</p>
                    <p>클릭 하시면 소비,분석,비교,예측,카드 추천해 드립니다.</p>
					<p>참여하고 무료 기프티콘 받아가세요!!</p>
					
                </div>
                <input style="border-radius: 10px;background-color: #000099; width:300px;" type="button" class="btn btn-dark" value="소비패턴분석하기" onclick="myInfo()" />
            	<div id="list">
                		
                </div>
            </div>
            
        </div>
    </main>
</div>
</body>
</html>