<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
	  layout:decorate="~{thymeleaf/layouts/user_layout}">
<head>
    <meta charset="utf-8" />
<script type="text/javascript">
</script>
</head>
<body>

<div layout:fragment="content">
      <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
				<div th:if="${ not#lists.isEmpty(dtos)}">
                    <table id="chatTable" class="table">
		            <tr>
			              <th>방 번호</th>
			              <th>방 이름</th>
		            </tr>
		            <tr th:each="dto : ${dtos}">
			              <td th:text="${dto.roomNo}"></td>
			              <td th:text="${dto.roomTitle}"></td>
			              <td><button type="button" class="btn btn-outline-primary" 
			              th:onclick="|location.href='@{/user/community/chatroom(roomno=${dto.roomNo})}'|">방 참여</button></td>
		            </tr>
					</table>
				</div>
                </div>
            </div>
        </div>
    </main>
    </div>

</body>
</html>