<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
	  layout:decorate="~{thymeleaf/layouts/user_layout}">
<head>
<meta charset="utf-8" />
<script type="text/javascript">
	function withdraw() {
		var answer = confirm("정말 탈퇴하시겠습니까 ?");
		if (answer){
			location.href="/user/withdraw"
		} else {
			location.href="/user/userMain"
		}
	}
</script>
<style type="text/css">
#out,#back {
	font-size:20px;
	margin-top:30px;
	background-color: #000099;
	color: white;
	border-radius: 10px;
	width: 200px;
	height: 80px;
}
</style>
</head>

<body>


	<div layout:fragment="content">

		<main class="mb-4">
			<div class="container px-4 px-lg-5">
				<div class="row gx-4 gx-lg-5 justify-content-center">
					<div class="col-md-10 col-lg-8 col-xl-6">
						<!-- begin table -->
						<div class="table-responsive">
							<table class="table table-profile">
								<tbody>
									<tr class="highlight">
										<td class="field">이름</td>
										<td th:text="${session.dto.name}"></td>
									</tr>
									<tr>
										<td class="field">이메일</td>
										<td th:text="${session.dto.email}"></td>
									</tr>
									<tr>
										<td class="field">성별</td>
										<!--                                  <td><span  th:text="${session.dto.sex}">여성</span> </td> -->
										<td><span th:if="${session.dto.sex == 'female'}">여성</span>
											<span th:unless="${session.dto.sex == 'female'}">남성</span></td>
									</tr>
									<tr>
										<td class="field">등급</td>
										<td th:text="${session.dto.role}"></td>
									</tr>
									<tr>
										<td class="field">핸드폰 번호</td>
										<td th:text="${session.dto.phone}"></td>
									</tr>
									<tr>
										<td class="field">주소</td>
										<td><span th:text="${session.dto.address}"></span></td>
									</tr>
									<tr>
										<td class="field">결혼 유무</td>
										<td><span th:if="${session.dto.is_married == 'y'}">기혼</span>
											<span th:unless="${session.dto.is_married == 'y'}">미혼</span>
										</td>
									</tr>
<!-- 									<tr> -->
<!-- 										<td class="field">카드발급여부</td> -->
<!-- 										<td><span th:if="${session.dto.is_join== 'y'}">O</span> -->
<!-- 											<span th:unless="${session.dto.is_join== 'y'}">X</span> -->
<!-- 										</td> -->
<!-- 									</tr> -->
									<tr class="highlight">
										<td colspan="2" class="field" style="text-align: right;">
											<button type="button" onclick="withdraw()"
												class="btn btn-primary width-150" id="out">탈퇴하기</button>
											<button type="button"
												onclick="location.href='/user/userMain'"
												class="btn btn-white btn-white-without-border width-150 m-l-5"
												id="back">뒤로가기</button>
										</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

</body>
</html>