<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
	  layout:decorate="~{thymeleaf/layouts/user_layout}">
<head>
<meta charset="utf-8" />
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
$.ajax({
	url:"/user/joinChk",
	method:"get",
	async:"false",
	dataType:"json",
	success:function(data){
		console.log(data);
		if(data.result=='N'){
			alert("우선 카드를 만들어야 합니다.");
			location.href="/user/analysis"
		}	
	},
	error:function(e){
		console.log(e);
	}
})

function createPW() {
	open("/user/createPW", "_blank", "width=600px,height=650px");
}
function linkAccount() {
	open("/user/linkAccount", "_blank", "width=600px,height=650px");
}
function AuthPW(event) {
	event.preventDefault();
	let popupWindow=open("/user/AuthPW", "_blank", "width=600px,height=650px");
	let popupInterval = setInterval(function() {
        if (popupWindow.closed) {
            clearInterval(popupInterval);

            // Submit the form
            document.getElementById("transferForm").submit();
        }
    }, 1000);
}
</script>
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">

<main class="mb-4">
     <div class="container px-4 px-lg-5">
		<h2>간편송금</h2>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-6">
           		<button onclick="createPW()">간편 비밀번호 생성</button>
           		<button onclick="linkAccount()">계좌 연동</button>
           		<form th:action="@{/user/withdraw_deposit}" method="get" id="transferForm" onsubmit="return AuthPW(event)">
           			수취인 이름<br>
           			<input id="dps_name" name="dps_name"><br>
           			수취인 은행<br>
           			<input id="dps_bank" name="dps_bank"><br>
           			수취인 계좌번호<br>
           			<input id="dps_fintech_use_num" name="dps_fintech_use_num"><br>
           			송금할 금액<br>
           			<input id="dps_tran_amt" name="dps_tran_amt"><br>
           			<button type="submit">송금</button>
           		</form>
            </div>       
        </div>         
     </div>
 </main>
</div>
</body>
</html>