<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
	  layout:decorate="~{thymeleaf/layouts/user_layout}">
<head>
<meta charset="utf-8" />
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">



 <main class="mb-4">
        <div class="container px-4 px-lg-5">
			<h2>간편송금</h2>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-6">
                	<div id=pattern_content>
                		
                		
                	</div>
                </div>       
            </div>         
        </div>
    </main>
</div>
</body>
</html>