<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ms.fintech.mapper.UserMapper">
	<resultMap type="UserDto" id="UserDtoMap">
		<id property="user_seq" column="USER_SEQ"/>
		<result property="name" column="NAME"/>
		<result property="email" column="EMAIL"/>
		<result property="password" column="PASSWORD"/>
		<result property="user_seq_no" column="USER_SEQ_NO"/>
		<result property="client_use_code" column="CLIENT_USE_CODE"/>
		<result property="phone" column="PHONE"/>
		<result property="sex" column="SEX"/>
		<result property="is_married" column="IS_MARRIED"/>
		<result property="is_join" column="IS_JOIN"/>
		<result property="address" column="ADDRESS"/>
		<result property="age" column="AGE"/>
		<result property="job" column="JOB"/>
		<result property="role" column="ROLE"/>
		<collection property="userTokenDto" resultMap="UserTokenDtoMap"/>
	</resultMap>
	
	<resultMap type="UserTokenDto" id="UserTokenDtoMap">
		<result property="user_seq" column="USER_SEQ"/>
		<result property="scope" column="SCOPE"/>
		<result property="token" column="TOKEN"/>
		
	</resultMap>
	
	<select id="userLogin" resultMap="UserDtoMap" parameterType="String">
		SELECT UI.USER_SEQ,PASSWORD,NAME,CLIENT_USE_CODE,USER_SEQ_NO,EMAIL,PHONE,SEX,IS_MARRIED,IS_JOIN,ADDRESS,AGE,JOB,
		ROLE,SCOPE,TOKEN
		FROM USER_INFO UI RIGHT OUTER JOIN USER_TOKEN UT
		ON UI.USER_SEQ=UT.USER_SEQ
		WHERE EMAIL=#{email}
	</select>
	<select id="rankingUserInfo" resultMap="UserDtoMap">
		SELECT UI.USER_SEQ,USER_SEQ_NO,EMAIL,SCOPE,TOKEN FROM USER_INFO UI INNER JOIN USER_TOKEN UT
		ON UI.USER_SEQ=UT.USER_SEQ
		WHERE  IS_JOIN='Y';
	</select>
    <insert id="userRegist" parameterType="UserDto" useGeneratedKeys="true"
    						keyProperty="user_seq">
        INSERT INTO USER_INFO VALUES
        (NULL,#{name},#{email},#{password},#{phone},
        #{sex},#{is_married},'N',#{address},#{age},#{job},#{user_seq_no},'M202201886','N',NULL,'USER');
    </insert>
    <insert id="tokenRegist" parameterType="UserTokenDto">
    	INSERT INTO USER_TOKEN VALUES
    	(#{user_seq},#{scope},#{token})
    </insert>
<!--     <insert id="userRoomRegist" parameterType="UserRoomDto"> -->
<!--     	INSERT INTO USER_ROOM VALUES -->
<!--     	(NULL,#{user_no},NULL) -->
<!--     </insert> -->
    
    <delete id="withdraw">
    	DELETE FROM user_token where user_seq = #{user_seq};
    	DELETE FROM user_info where user_seq = #{user_seq};
    </delete>
	
	
	<select id="emailChk" resultType="String" parameterType="String">
		SELECT EMAIL FROM USER_INFO WHERE EMAIL=#{email}
	</select>

	<update id="pattern" parameterType="int">
		UPDATE USER_INFO  SET PATTERN_CHK='Y' WHERE USER_SEQ=#{user_seq}
	</update>
	<update id="join" parameterType="int">
		UPDATE USER_INFO  SET IS_JOIN='Y' WHERE USER_SEQ=#{user_seq}
	</update>
	<select id="patternChk" parameterType="int">
		SELECT PATTERN_CHK FROM USER_INFO WHERE USER_SEQ=#{user_seq}
	</select>
	<select id="joinChk" parameterType="int">
		SELECT IS_JOIN FROM USER_INFO WHERE USER_SEQ=#{user_seq}
	</select>
	
	<insert id="registAccount" parameterType="AccountDto">
		INSERT INTO ACCOUNT_INFO VALUES (#{user_seq},#{fintech_use_num},#{balance_amt},#{bank_name})
	</insert>
	
	<select id="accountChk" parameterType="int">
		SELECT COUNT(*) FROM ACCOUNT_INFO WHERE USER_SEQ=#{user_seq};
	</select>
	
	<select id="cardPWChk" parameterType="int">
		SELECT CARD_PASSWORD FROM USER_INFO WHERE USER_SEQ=#{user_seq};
	</select>
	
	<select id="oobChk" parameterType="int">
		SELECT COUNT(SCOPE) FROM USER_TOKEN WHERE USER_SEQ=#{user_seq} AND SCOPE='oob';
	</select>
	
	<select id="dp_info" parameterType="String">
		SELECT * FROM USER_INFO WHERE NAME=#{name};
	</select>
	<select id="dp_token" parameterType="int">
		SELECT * FROM USER_TOKEN WHERE USER_SEQ=#{user_seq} AND SCOPE='oob';
	</select>
	
	
</mapper>