<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
	  layout:decorate="~{thymeleaf/layouts/default_layout}">
<head>
    <meta charset="utf-8" />
     <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

<style type="text/css">

.icon-list {
	width: 60px;
	height: 60px;
	margin-bottom: 60px;
}

.carousel {
	margin-bottom: 0;
	padding: 0 40px 30px 40px;
}

.carousel-control {
	left: -12px;
}

.carousel-control.right {
	right: -12px;
}

.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}

.carousel-indicators li {
	background: #c0c0c0;
}

.carousel-indicators .active {
	background: #c0c0c0;
}

.carousel-control-prev, .carousel-control-next {
	color: #000099; 
}

.f-content{
	color: #666666;
}
#join_btn {
	margin-top:30px;
	background-color: #000099;
	color: white;
	border-radius: 10px;
	width: 200px;
	height: 80px;
}
</style>       
       
</head>

<body>

	
<div layout:fragment="content">
   <div class="container-fluid text-center">
			<div class="row">
				<div class="col-md-2">
					<button type="button" class="btn" id="join_btn">참여하기</button>
					
				</div>
				<div class="col-lg-2">
					<img class="icon-list" src="/assets/bar-chart-steps.svg">
					<h4 class="fw-normal">패턴분석</h4>
					<p class="f-content">나의 소비패턴을 분석 후 절약 가능 카드 발급</p>
				</div>
				<div class="col-lg-2">
					<img class="icon-list" src="/assets/coin.svg">
					<h4 class="fw-normal">간편송금</h4>
					<p class="f-content" >간편비밀번호 설정 후 빠르게 송금</p>
				</div>
				<div class="col-lg-2">
					<img class="icon-list" src="/assets/chat-square-dots-fill.svg">
					<h4 class="fw-normal">커뮤니티</h4>
					<p class="f-content">사람들과 함께 공유하는 실시간 채팅방</p>
				</div>
				<div class="col-lg-2">
					<img class="icon-list" src="/assets/123.svg">
					<h4 class="fw-normal">순위</h4>
					<p class="f-content">다른사람들과 비교하며 나의 소비율 확인하기</p>
				</div>
				<div class="col-lg-2">
					<img class="icon-list" src="/assets/newspaper.svg">
					<h4 class="fw-normal">MZ소식</h4>
					<p class="f-content">MZ세대들의 트렌드를 반영한 다양한 소식,정보</p>
				</div>
			</div>
<!-- 			<hr class="featurette-divider"> -->
			
<!-- 			<div class="row mt-4"> -->
<!-- 				<div class="col"> -->
<!-- 					<p style="font-size: 36px">미세小비</p> -->
<!-- 				<div class="row"> -->
<!-- 				<div class="col-lg-2"> -->
<!-- 					<img class="icon-list" src="/assets/bar-chart-steps.svg"> -->
<!-- 					<h4 class="fw-normal">패턴분석</h4> -->
<!-- 					<p>나의 소비패턴을 분석 후 절약 가능 카드 발급</p> -->
<!-- 				</div> -->
<!-- 				<div class="col-lg-2"> -->
<!-- 					<img class="icon-list" src="/assets/coin.svg"> -->
<!-- 					<h4 class="fw-normal">간편송금</h4> -->
<!-- 					<p>간편비밀번호 설정 후 빠르게 송금</p> -->
<!-- 				</div> -->
<!-- 				<div class="col-lg-2"> -->
<!-- 					<img class="icon-list" src="/assets/chat-square-dots-fill.svg"> -->
<!-- 					<h4 class="fw-normal">커뮤니티</h4> -->
<!-- 					<p>사람들과 함께 공유하는 실시간 채팅방</p> -->
<!-- 				</div> -->
<!-- 				<div class="col-lg-2"> -->
<!-- 					<img class="icon-list" src="/assets/123.svg"> -->
<!-- 					<h4 class="fw-normal">순위</h4> -->
<!-- 					<p>다른사람들과 비교하며 나의 소비율 확인하기</p> -->
<!-- 				</div> -->
<!-- 				<div class="col-lg-2"> -->
<!-- 					<img class="icon-list" src="/assets/newspaper.svg"> -->
<!-- 					<h4 class="fw-normal">MZ소식</h4> -->
<!-- 					<p>MZ세대들의 트렌드를 반영한 다양한 소식,정보</p> -->
<!-- 				</div> -->
<!-- 				</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
			
			<hr class="featurette-divider">
			<div class="row mt-4">
				<div class="col">
					<p style="font-size: 36px">거지방이란?</p>
					<img src="/assets/background3.png">
				</div>
			</div>

			<hr class="featurette-divider">

			<div class="row mt-4">
				<div class="col">
					<p style="font-size: 36px">소개영상</p>
					<div id="carouselExampleControls" class="carousel slide" 
						data-bs-ride="carousel" >
						<div class="carousel-inner">
							<div class="carousel-item active">
								<iframe width="750" height="421"
									src="https://www.youtube.com/embed/UzMsFQcfETs"
									title="YouTube video player" frameborder="0"
									allow="accelerometer; autoplay; 
    	clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
									allowfullscreen> </iframe>
							</div>
							<div class="carousel-item">
								<iframe width="750" height="421"
									src="https://www.youtube.com/embed/ZjU1PWYBubs"
									title="YouTube video player" frameborder="0"
									allow="accelerometer; autoplay; clipboard-write; encrypted-media;
     gyroscope; picture-in-picture; web-share"
									allowfullscreen></iframe>
							</div>
							<div class="carousel-item">
								<iframe width="750" height="421"
									src="https://www.youtube.com/embed/i-hPxOm30o0"
									title="YouTube video player" frameborder="0"
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
									allowfullscreen></iframe>
							</div>
							
							<button class="carousel-control-prev" type="button"
								data-bs-target="#carouselExampleControls" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button class="carousel-control-next" type="button"
								data-bs-target="#carouselExampleControls" data-bs-slide="next" >
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Next</span>
							</button>
					
						</div>
						
					</div>
				</div>

			</div>
			<hr class="featurette-divider">
			<div class="row mt-4">
				<div class="col">
					<p style="font-size: 36px">이번달 참여 혜택</p>
					<img src="/assets/event.jpg">
					<p style="font-size:24px">네이버페이 포인트쿠폰 (5,000원)</p>
				</div>
			</div>
		</div>
</div>

</body>
</html>