<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
  layout:decorate="~{thymeleaf/layouts/default_layout}">

<head>
  <meta charset="utf-8" />
  <style type="text/css">
    .card {
      display: inline-block;
      width: 25rem;
    }
  </style>
</head>

<body>
  <div layout:fragment="content">
    <!-- Main Content-->
    <div style="text-align: center;">
      <span><b style="font-size: 25px;">MZ세대 최근 소식</b><br></br></span>
      <th:block th:each="dto : ${crawlerDto}">
        <div class="card">
          <img class="card-img-top" style="cursor: pointer;" th:onclick="|location.href='@{${dto.href}}'|" th:src="${dto.src}" alt="Card image cap">
          <div class="card-body">
            <a th:href="${dto.href}" class="card-text" target="_blank" th:text="${dto.title}"></a>
          </div>
        </div>
      </th:block>
    </div>
  </div>
</body>

</html>