<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
	  layout:decorate="~{thymeleaf/layouts/default_layout}">
<head>
<meta charset="utf-8" />
</head>
<body>
<div layout:fragment="content">
      <!-- Main Content-->
<div>
<th:block th:each="dto : ${crawlerDto}">
  <div class="card" style="display: inline-block;">
    <img class="card-img-top" th:src="${dto.img}" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"  th:text="${dto.title}">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
</th:block>
</div>
</div>
</body>
</html>