<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
	layout:decorate="~{thymeleaf/layouts/default_layout}">

<head>
<meta charset="utf-8" />
<script type="text/javascript"
	src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
	$(function() {
		const index={};
		var list='[[${rankinfo}]]';
		console.log(typeof(list));
		console.log(list);
		let today = new Date();
		let year = today.getFullYear(); // 년도
		let month = today.getMonth() + 1; // 월
		let date = today.getDate(); // 날짜
		let day = today.getDay(); // 요일
		console.log(month);

		$("#this_month").text(month + '월');
	})
</script>
<style type="text/css">
#title {
	border-bottom: 1px solid #4682B4;
	margin: 50px;
}

#this_month {
	font-size: 36px;
	font-weight: bold;
}

table {
	/* 	margin:150px; */
	
}
img{
	width:30px;
	height:30px;
}
#list-head{
	background-color: #000099;
	height: 60px;
	color:white;
	font-size:18px;
	border-radius: 10px;
}

.describe{
	font-size:12px;
	color:#AAAAAA;
}
.desc-box{
	text-align:left;
	float:left;
}

</style>
</head>

<body>
	<div layout:fragment="content">
		<div class="container-fluid text-center">
			<div class="row">
				<div class="col-md-2">
					<p style="font-size: 24px">이번달 참여 혜택</p>
					<img src="/assets/event.jpg" style="width: 120px; height: 120px;">
					<p style="font-size: 20px">네이버페이 포인트쿠폰 (5,000원)</p>

					<table class="mt-2 table" id="table1">
						<tr>
							<th id="list-head">참여중</th>
						</tr>
						<tr th:each="dto : ${ids}">
							<td><a href="#" th:text="${dto}"></a></td>
						</tr>
					</table>
				</div>
			
				<div class="col-lg-10">
					<h3 id="this_month"></h3>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">순위</th>
								<th scope="col">이메일</th>
								<th scope="col">평균소비%</th>
								<th scope="col">전달소비%</th>
								<th scope="col">이번달소비%</th>
								<th scope="col">소비가능금액</th>
								<th scope="col">최소소비%</th>
							</tr>
						</thead>
						<tbody>

							<th:block th:each="dto, index : ${rankinfo}">
								<tr>
									<td scope="row"><img th:if="${index.index == 0}"
										src="/assets/1st.png" alt="1st Place Icon"> <img
										th:if="${index.index == 1}" src="/assets/2nd.png"
										alt="2nd Place Icon"> <img th:if="${index.index == 2}"
										src="/assets/3nd.png" alt="3rd Place Icon"> <span
										th:if="${index.index > 2}" th:text="${index.index + 1}"></span>
									</td>
									<td th:text="${dto.email}"></td>
									<td th:text="${dto.total_cs_percent+'%'}"></td>
									<td th:text="${dto.last_cs_percent+'%'}"></td>
									<td th:text="${dto.this_month_percent+'%'}"></td>
									<td th:text="${dto.this_month_balance+'원'}"></td>
									<td th:text="${dto.min_cur+'%'}"></td>
								</tr>
							</th:block>
						</tbody>
						
					</table>
					<div class="desc-box">
						<p class="describe">순위에 대한 설명 및 기준</p>
						<p class="describe">평균소비 : 현재사용중인 모든 계좌의 소비를 수입으로 나눈 퍼센트</p>
						<p class="describe">전달소비 : 현재달의 이전달의 모든 계좌의 소비를 수입으로 나눈 퍼센트</p>
						<p class="describe">이번달소비 : 발급받은 카드+모든 계좌의 소비를 수입으로 나눈퍼센트</p>
						<p class="describe">소비가능금액 : 전체평균소비-5%의 금액</p>
						<p class="describe">최소소비 : 올해중 가장 적은 소비퍼센트</p>
					</div>
					
				</div>
<!-- 				<div class="col-lg-10"> -->
					
<!-- 				</div> -->
			</div>
		</div>
	</div>
</body>

</html>